@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
  font-family: 'Press Start 2P', system-ui, sans-serif;
  line-height: 1.6;
  font-weight: 400;
  color: #f5f8ff;
  background-color: #0b0e1c;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background: radial-gradient(circle at top, #1a2146, #0b0e1c 55%);
}

button {
  font-family: inherit;
}

h1,
h2,
h3,
li,
p {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}
